@import "tailwindcss";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@layer base {
  body {
    @apply bg-slate-50 text-slate-900;
  }
}

@layer utilities {
  .text-shadow {
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.1);
  }

  .text-shadow-lg {
    text-shadow: 4px 4px 0px rgba(0, 0, 0, 0.1);
  }
}